/* stylelint-disable CssSyntaxError */
input,
select {
  margin-top: 10px;
}

.top {
  margin-top: 0;
}

.bottom {
  margin-top: 13px;
}

fieldset {
  margin-bottom: 20px;
}

.old {
  width: 65px;
}

.radio {
  margin-top: 3px;
}

.range {
  margin-top: 12px;
}
